#bar {
    background-color: white;
      position: relative;
      left: 21%;
  }
  
  .vertbar {
      display: flex;
      background-color: lightsalmon;
      /* background-image: linear-gradient(#d4faa3, #bdecdb, #bdecdb); */
      height: 725px;
      width: 60px;
      position: absolute;
  
  }
  
  #bar-right {
      /* outline: 1px dashed blue; */
      position: fixed;
      left: 63%;
  }
  
  .vertbar-r {
      display: flex;
      background-color: lightsalmon;
      /* background-image: linear-gradient(#d4faa3, #bdecdb, #bdecdb); */
      height: 725px;
      width: 60px;
      position: absolute;
  
  }
  
  /* @media screen and (max-width: 700px) {
  
      #bar-right {
          position: fixed;
          left: 315px;
      }
  } */