/* CSS TODO List: 

/* toggle outlines on and off to see where each table is positioned */
/* by toggle, i mean comment in and out */
* {
    /* outline: 1px dashed blue;    */
    /* outline: 2px solid red;    */
    /* font-size: 1.5vw; */
}

/* to make sure background color fills up the entire page. Found out that bulma uses some properties that disallows this by default */
html,
body {
    margin: 0;
    padding: 0;
    background-image: url(../images/city-landscape.webp);
    background-position: 25% 75%;
    min-height: 100vh;
}

#bar {
    /* outline: 1px dashed blue; */
}

.vertbar {
    display: flex;
    background-color: lightsalmon;
    /* background-image: linear-gradient(#d4faa3, #bdecdb, #bdecdb); */
    height: 575px;
    /* width: 60px; */
    position: absolute;

}


::placeholder {
    font-style: 'Press Start 2P' !important;
    color: rgb(0, 0, 0) !important;
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    color: white !important;
    font-style: 'Press Start 2P' !important;
    /* Edge 12-18 */
}

#search-bar {
    border-image: url(https://luttje.github.io/css-pokemon-gameboy/styles/images/frame-hd.png) 42 round;
    border-width: 21px;
    border-style: solid;
    padding: 1em;
    margin: 1em 0 0 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    color: white;

}

#search {
    margin-left: -47px;
}

/* edit */
header {
    background-image: linear-gradient(to right, rgba(167, 167, 167, 0.5), rgba(167, 167, 167, 1), rgba(167, 167, 167, 1), rgba(167, 167, 167, 1), rgba(167, 167, 167, 0.5));
}

#brand {
    /* outline: 1px dashed blue; */
    margin-left: 47px;
    font-weight: bolder;
    /* font-family: 'Press Start 2P'; */
    /* transform: rotate(-20deg); */
    text-wrap: nowrap;
    font-size: 3vw;
    font-family: 'Antonio', sans-serif;
    background: -webkit-linear-gradient(#fff, #fff,rgba(148, 148, 148, 0.2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#brand,
#empty-right {
    flex: 1;
}

#search-button,
#random {
    flex-basis: 50%;
}

@media screen and (max-width: 320px) {

    #search-button,
    #random {
        flex-basis: 100%;
    }

    #brand {
        margin-top: -40px;
    }
}


#stat-container {
    /* outline: 1px dashed blue; */
    border: 20px solid;
    border-image: linear-gradient(#d2d2d2, #ffffff, #d2d2d2);
    border-image-slice: 1;
    /* overflow-y: scroll; */
    z-index: 1;
    background-image: radial-gradient(rgba(160, 188, 156, 1), rgba(160, 188, 156, 1), rgba(160, 188, 156, 1), rgba(203, 203, 203, 1));
}

@media screen and (max-width: 745px) {

    #stat-container {
        width: 360px;
    }
}


#stat-page {
    background-color: transparent;
    font-family: 'Press Start 2P';
}

aside {
    position: relative;
    top: 6.5vh;
}

.side-btn {
    width: 60%;
    height: 120px;
    font-size: 80%;
    text-align: center;
    white-space: normal;
    border: #d2d2d2 double 2px;
    margin-bottom: 1%;

}

#search-history {
    transform: skew(0deg, -20deg);
}

#search-history>.side-btn {
    background-image: linear-gradient(to right, rgb(195, 230, 190), rgba(160, 188, 156, 1), rgb(127, 150, 124));
}

#other-features {
    transform: skew(0deg, 20deg);
}

#other-features>.side-btn {
    background-image: linear-gradient(to left, rgb(195, 230, 190), rgba(160, 188, 156, 1), rgb(127, 150, 124));
}

figure {
    /* outline: 2px dashed rgb(255, 0, 144); */
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    bottom: 165px;
    width: 350px;

}

img {
    animation-name: float;
    animation-duration: 6000ms;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(2px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

#norris-container {
    z-index: 3;
    position: relative;
    margin-top: -315px;
    /* outline: 2px dashed red; */
    display: none;
}

#norris-fact {
    background-image: radial-gradient(rgba(141, 255, 236, 0.5), rgba(141, 255, 236, 0.4), rgba(141, 255, 236, 0.3), rgba(255, 255, 255, 0.2));
    font-size: 3vh;
    /* border-radius: 25px; */
    font-family: 'Press Start 2P';
    border-image: url(https://luttje.github.io/css-pokemon-gameboy/styles/images/frame-hd.png) 42 round;
    border-width: 21px;
    border-style: solid;
    padding: 1em;
    /* margin: 1em 0 0 0; */
}

#norris-quote {
    /* background-image: radial-gradient(rgba(141, 255, 236, 0.5), rgba(141, 255, 236, 0.4), rgba(141, 255, 236, 0.3), rgba(255, 255, 255, 0.2)); */
    font-size: 2vh;
    border-radius: 25px;
    font-family: 'Press Start 2P';
}