/* CSS TODO List: 

/* toggle outlines on and off to see where each table is positioned */
/* by toggle, i mean comment in and out */
* {
    /* outline: 1px dashed blue;    */
    /* outline: 2px solid red;    */
    margin: 0;
    padding: 0;
}

/* to make sure background color fills up the entire page. Found out that bulma uses some properties that disallows this by default */
html,
body {
    background-image: url(../images/city-landscape.webp);
    background-position: 20% 80%;
    background-attachment: fixed;
    min-height: 100vh;
}

header {
    background-image: linear-gradient(to right, rgba(167, 167, 167, 0.5), rgba(167, 167, 167, 1), rgba(167, 167, 167, 1), rgba(167, 167, 167, 1), rgba(167, 167, 167, 0.5));
    width: 100%;
    position: relative;
    z-index: 1;
    
}

#search-bar,
#search-bar:hover,
#search-bar:focus,
#search-bar:active {
    border: 1px white solid;
    width: 100%;
    background-color: transparent;
    color: white;
    font-size: 1.5vw;

}

#search-bar::placeholder {
    color: rgb(255, 255, 255) !important;
    opacity: 1;
    font-size: 1.5vw;
    /* Firefox */
}

#search-bar::-ms-input-placeholder {
    color: white !important;
    font-size: 1.5vw;
    /* Edge 12-18 */
}

#search-button,
#random-button {
    flex-basis: 50%;
    font-size: 1.5vw;
}


#brand {
    text-wrap: nowrap;
    font-size: 5vw !important;
    font-family: 'Antonio', sans-serif;
    background: -webkit-linear-gradient(#fff, #fff, rgba(148, 148, 148, 0.2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#brand,
#empty-right {
    flex: 1;
}

/* ================================= */

main {
    /* outline: white 3px solid; */
}

aside {
    width: 25%;
    position: relative;
    top: 45px;
    /* width: 13% !important; */
    /* background-color: antiquewhite; */
}

.side-btn,
.side-btn:focus,
.button[disabled] {
    font-family: 'Antonio', sans-serif;
    font-size: 1.6vw;
    width: 60%;
    height: 18vh;
    border: #d2d2d2 double 2px;
    margin-top: 1%;
    /* text-align: center; */
    white-space: normal;
    padding: 2rem;

}

.button[disabled] {
    opacity: 1;
    color: rgb(91, 107, 89)
}

#search-history {
    transform: skew(0deg, -20deg);
}

#search-history>.side-btn {
    background-image: linear-gradient(to right, rgb(195, 230, 190), rgba(160, 188, 156, 1), rgb(127, 150, 124));
}

#other-features {
    transform: skew(0deg, 20deg);
}

#other-features>.side-btn {
    background-image: linear-gradient(to left, rgb(195, 230, 190), rgba(160, 188, 156, 1), rgb(127, 150, 124));
}

#stat-container {
    width: 50%;
    border: 2vw solid;
    border-image: linear-gradient(#d2d2d2, #ffffff, #d2d2d2);
    border-image-slice: 1;
    /* z-index: 1; */
    background-image: radial-gradient(rgba(160, 188, 156, 0.8), rgba(160, 188, 156, 0.8), rgba(160, 188, 156, 0.8), rgba(203, 203, 203, 0.8));
}

#stat-page {
    background-color: transparent;
    font-family: 'Press Start 2P';
    white-space: normal;
}

.statline {
    margin-bottom: 2%;
}

#pkmn-stats {
    margin-bottom: 20%;
}

.squad-mon {
    list-style: none;
    background-color: rgb(171, 200, 167);
    padding: 1% 15%;
    background-image: url("../images/pokeballmarker.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 3em;
    cursor: pointer;
    font-size: 0.8em;
}

textarea {
    background-color: transparent;
    resize: none;
    border: none;
    border-bottom: 1px black;
    outline: none;
    font-size: 0.8rem;
    font-family: 'Press Start 2P';
    max-width: 100%;
}

@media screen and (max-width: 769px) {
    #stat-container {
        width: 70%;
    }

    #stat-page {
        font-size: 0.8em;
    }

    .side-btn {
        font-size: 0.6em;
    }

    aside {
        width: 15%;
        position: relative;
        top: 30px;
        /* width: 13% !important; */
        /* background-color: antiquewhite; */
    }

}

figure {
    /* outline: 2px dashed rgb(255, 0, 144); */
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    bottom: 185px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;


}

@media screen and (max-width: 410px) {

    figure {
        bottom: 155px;
    }

    #norris-container {
        margin-top: -295px;
    }
}

img {
    animation-name: float;
    animation-duration: 6000ms;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    margin-left: auto;
    margin-right: auto;
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(2px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

#norris-container {
    z-index: 3;
    position: relative;
    margin-top: -315px;
    /* outline: 2px dashed red; */
    display: none;
}

/* @media screen and (max-width: 760px) {

    #norris-container {
        width: 550px;
        margin-left: 0;
        margin-right: 0;
    }
} */

#norris-fact {
    font-size: 2vw;
    border-radius: 25px;
    background-image: radial-gradient(rgba(141, 255, 236, 0.5), rgba(141, 255, 236, 0.4), rgba(141, 255, 236, 0.3), rgba(255, 255, 255, 0.2));
    /* border-radius: 25px; */
    font-family: 'Press Start 2P';
    border-image: url(https://luttje.github.io/css-pokemon-gameboy/styles/images/frame-hd.png) 42 round;
    border-width: 21px;
    border-style: solid;
    padding: 1em;
    /* margin: 1em 0 0 0; */
}

#norris-fact button {
    justify-content: flex-end;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    /* cursor: pointer; */
    font-family: 'Press Start 2P';
    /* animation: blinking .5s steps(2, start) infinite; */
}

#norris-fact button span {
    animation: blinking .5s steps(2, start) infinite;
}


@keyframes blinking {
    to {
        visibility: hidden;
    }
}

#norris-quote {
    /* background-image: radial-gradient(rgba(141, 255, 236, 0.5), rgba(141, 255, 236, 0.4), rgba(141, 255, 236, 0.3), rgba(255, 255, 255, 0.2)); */
    font-size: 1.5vw;
    border-radius: 25px;
    font-family: 'Press Start 2P';
}

@media screen and (max-width: 530px) {
    #did-you-know {
        font-size: 1.5em;
    }
    #norris-quote {
        font-size: 1em;
    }

}
